extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Copy the token ('resetPassword /token') from url: #{url}.       
  p If you didn't forget your password, please ignore this email!